#nav{
  background-color: #977286;
  width: 100%;
  margin: 0px;

}

body {
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Grenze Gotisch', serif;
  color: #977286;
  text-align: center;
}

h1 {
  font-size:2.5em;
  padding-bottom: 10px;
  margin: auto;
  max-height: 35px;
}

h2 {
  font-size: 2em;
}

h3{
  font-size: 1.5em;
  color: #140900;
}
h5{
  color: #140900;
  max-height: 15px;
}
img {
    border: none;
    width: 50%;
    max-width: 600px;
    padding-right: 10px;
}

p{
  font-family: 'Roboto', sans-serif;
  color: #140900;
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
  margin: 25px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Grenze', serif;
  color: #f5f5f5;
}

li{
  padding: 14px 16px;
}

li a{
  display: inline-block;
  padding: 14px 16px;
}

ul a{
  text-decoration: none;
  color: #f5f5f5;
}

ul a:hover{
  color: #adadad;
}

a {
  text-decoration: none;
  color:#977286;
}

a:hover{
  color:#adadad;
}
#intro {
  font-size:1em;
  margin: auto;

}
#intro-header {
  text-align: center;
  font-size: 1.5em;
}

#nav {
  font-size: 1.5em;
}


.third {
    width: 33%;
   display: inline-block;
}

#iframe{
  text-align:center;
  display:block;
}
